TAVILY_KEY="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"

LLM_BASE_URL = "https://dashscope.aliyuncs.com/compatible-mode/v1"
LLM_API_KEY = "sk-bb4d4e078f5e4e969c6735eabd28be30"
LLM_MODEL_ID="qwen3.5-flash"

ALBAILIAN_BASE_URL = "https://dashscope.aliyuncs.com/compatible-mode/v1"
ALBAILIAN_API_KEY = "sk-bb4d4e078f5e4e969c6735eabd28be30"
MODEL_ID="qwen3.5-flash